#########################################
# Python
#########################################

__pycache__/
*.py[cod]
*$py.class

#########################################
# Virtual Environment
#########################################

.venv/
venv/
env/

#########################################
# VS Code
#########################################

.vscode/

#########################################
# IDE
#########################################

.idea/

#########################################
# Environment
#########################################

.env
.env.*

#########################################
# Python Cache
#########################################

.pytest_cache/
.mypy_cache/

#########################################
# Logs
#########################################

*.log

#########################################
# OS
#########################################

.DS_Store
Thumbs.db

#########################################
# Database
#########################################

*.db
*.sqlite
*.sqlite3

#########################################
# Secrets
#########################################

config.local.json